@model AtivosFinanceiros.Models.Usuario
@{
    ViewData["Title"] = "Criar Novo Utilizador";
}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm w-100" style="max-width: 900px;">
        <div class="card-header bg-light text-center">
            <h3 class="mb-0">Criar Novo Utilizador</h3>
        </div>
        <div class="card-body">
            <form asp-action="CriarUtilizador" method="post">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="Username" class="form-label">Username</label>
                    <input asp-for="Username" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Senha</label>
                    <input name="Senha" type="password" class="form-control" required />
                </div>

                <div class="mb-4">
                    <label asp-for="TipoPerfil" class="form-label">Tipo de Perfil</label>
                    <select asp-for="TipoPerfil" class="form-select">
                        <option value="UTILIZADOR">UTILIZADOR</option>
                        <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                        <option value="GESTOR">GESTOR</option>
                    </select>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100 mb-3">Confirmar</button>
                    <div class="text-start">
                        <a asp-action="GerirUtilizadores" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}