@model AtivosFinanceiros.Models.Ativo

@{
    ViewData["Title"] = "Criar Ativo";
    Layout = null;
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">@ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["Message"]
                        </div>
                    }

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }

                    <form asp-controller="Ativos" asp-action="CreateAtivo" method="post">
                        <div class="form-group mb-3">
                            <label for="Nome">Nome:</label>
                            <input type="text" id="Nome" asp-for="Nome" class="form-control" required />
                        </div>
                        <div class="form-group mb-3">
                            <label for="TipoAtivo">Tipo Ativo:</label>
                            <select id="TipoAtivo" asp-for="TipoAtivo" class="form-control">
                                <option value="">Seleciona o tipo de ativo</option>
                                <option value="DepositoPrazo">Deposito a Prazo</option>
                                <option value="FundoInvestimento">Fundo de Investimento</option>
                                <option value="ImovelArrendado">Imovel Arrendado</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="DataInicio">Data Início:</label>
                            <input type="date" id="DataInicio" asp-for="DataInicio" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" required/>
                        </div>
                        <div class="form-group mb-3">
                            <label for="DuracaoMeses">Duração (Meses):</label>
                            <input type="number" id="DuracaoMeses" asp-for="DuracaoMeses" class="form-control" required/>
                        </div>
                        <div class="form-group mb-3">
                            <label for="ImpostoPerc">Percentagem Imposto:</label>
                            <input type="number" id="ImpostoPerc" asp-for="ImpostoPerc" class="form-control" step="0.01" required/>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Proximo</button>
                    </form>
                    <a href="/Ativos/MeusAtivos" class="btn btn-danger">Cancelar</a>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
