@using System.Security.Claims

<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
    <a class="navbar-brand px-3 d-flex align-items-center" href="/">
        <img src="/images/fingest-logo.png" alt="Fingest Logo" style="width: 150px;object-fit: contain;margin-right: 10px;filter: drop-shadow(0 1px 2px rgba(0,0,0,0.2));">        
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" style="margin-right: 20px;">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item" style="margin-right: 20px;">
                <a class="nav-link" href="/Ativos/MeusAtivos">Meus Ativos</a>
            </li>
            <li class="nav-item dropdown" style="margin-right: 20px;">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Gerir Relatórios
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Relatorios/RelatorioImpostos">Relatório de Impostos</a></li>
                    <li><a class="dropdown-item" href="/Relatorios/RelatorioLucros">Relatório de Lucros</a></li>
                    @if (User.HasClaim("TipoPerfil", "ADMINISTRADOR"))
                    {
                        <li><a class="dropdown-item" href="/Relatorios/RelatorioAdmin">Relatório de Bancos</a></li>
                    }
                </ul>
            </li>
            @if (User.HasClaim("TipoPerfil", "ADMINISTRADOR"))
            {
                <li class="nav-item" style="margin-right: 20px;">
                    <a class="nav-link" href="/Admin/GerirUtilizadores">Gerir Utilizadores</a>
                </li>
            }
        </ul>
    </div>

    <form asp-controller="Auth" asp-action="Logout" method="post" class="d-inline px-3">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-outline-danger btn-sm">
            <i class="fas fa-sign-out-alt me-1"></i>Logout
        </button>
    </form>
</nav>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />